body, html {
    max-width: 100vw !important;
    height: 100vh;
}

.site {
    padding: 10px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: black;
}

.swiper {
    height: 500px;
    .swiper-slide {
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}

.swiper-slide img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(50%);
}

.shadow-nb {
    box-shadow: 5px 5px 0 black;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title p {
    font-size: 1.2rem;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

.text-nb {
    color: black;
}

.container-nb {
    border: #000 solid 3px;
    background-color: white;
    box-shadow: 5px 5px 0 black;
    color: black;
}

.container-nb h4 {
    font-size: 1.8em;
}

.container-nb p {
    font-size: 1.2em;
}

.section-title-nb {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title-nb h2 {
    color: black;
    font-size: 3em;
    border-bottom: black solid 3px;
    padding: 0 1em 5px 1em;
    width: fit-content;
}

.section-title-nb p {
    font-size: 1.4em;
    margin-bottom: 2em;
}

.btn-nb {
    transition: transform 0.3s;
}

.btn-nb:hover {
    transform: translateY(-5px) scale(1.05);
    transition: transform 0.3s;
}

#social-medias {
    list-style-type: none;
}

.hover-clickable:hover {
    cursor: pointer;
}

.card, .dropdown-menu {
    border-radius: 0;
    border: 3px solid black;
    box-shadow: 5px 5px black;
}

.dropdown-menu {
    font-weight: 700;
}

.modal-content, .btn, input {
    border-radius: 0 !important;
    border-width: 3px !important;
    box-shadow: 2px 2px black;
}

hr {
    border-radius: 0 !important;
    border-width: 2px;
}

.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(50%)
}

.btn-circle {
     z-index: 10;
     position: fixed !important;
     bottom: 20px !important;
     right: 20px !important;
     border-radius: 50% !important;
}

.posts {
    margin: 20px 0;
}

.instagram-card{
	background: #ffffff;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.instagram-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 20px;
	height: 40px;
}

.instagram-card-user-image{
    border: solid 2px black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
    box-shadow: 2px 2px black;
}

.instagram-card-image {
    border: 2px solid black;
    background-color: #0b0b0b;
    border-right: none;
    border-left: none;
    display: flex;
    justify-content: center;
}

.instagram-card-image > img {
    max-height: 400px;
    /*noinspection CssInvalidPropertyValue*/
    max-width: fit-content;
}

.instagram-card-time{
	float: right;
	width: 80px;
	padding-top:10px;
	text-align: right;
	color: #999;
}

.instagram-card-user-name{
	margin-left: 10px;
	font-weight:bold;
    color: #262626;
}

.instagram-card-content{
  padding: 20px;
}

.likes{
  font-weight: bold;
}

.instagram-card-content-user{
  font-weight: bold;
  color: #262626;
}

.hashtag{
  color: #003569;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.instagram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
}

.footer-action-icons{
  font-size: 16px;
  color: #ccc;
}