<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Cosmus</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/aos/aos.css">
    <link rel="stylesheet" href="assets/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="assets/glightbox/css/plyr.min.css">
    <link rel="stylesheet" href="assets/brutopia/css/brutopia.css">
    <link rel="stylesheet" href="assets/custom/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/all.min.css">

</head>
<body class="bg-dark">

    <!--Header-->
    <header class="bg-white border-dark border-3 border shadow-nb fixed-top m-0 p-1 px-0">
        <h1 class="display-5 font-extrabold font-monospace text-black text-center">Cosmus</h1>
    </header>

        <!-- Slide -->
        <section id="slide" class="mt-4 mb-0 p-0 border-3">
            <div class="swiper container-nb" data-aos="fade-up" data-aos-duration="700">
                <div class="swiper-wrapper">
                    <div id="slide1" class="swiper-slide align-items-center justify-content-lg-start justify-content-sm-center">
                        <div class="align-items-center text-center m-5">
                            <h3 class="container-nb display-3 font-bold px-4" data-aos="zoom-out-down" data-aos-duration="1000" data-aos-delay="1200">Um lugar livre</h3>
                            <hr class="border-white my-3" data-aos="fade-right" data-aos-delay="1700" data-aos-duration="1000">
                            <h4 class="container-nb display-6" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-delay="2500">Para ser quem você quiser</h4>
                        </div>
                        <img src="assets/img/slider/image1.jpg">
                    </div>
                    <div id="slide2" class="swiper-slide align-items-center justify-content-end">
                        <div class="swiper-texts align-items-center text-center m-5">
                            <h3 class="container-nb display-3 font-bold px-4">Um lugar acolhedor</h3>
                            <hr class="border-white my-3" data-aos="fade-right">
                            <h4 class="container-nb display-6">Com uma comunidade amigável e ampla</h4>
                        </div>
                        <img src="assets/img/slider/image2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-texts align-items-center text-center m-5">
                            <h3 class="container-nb display-3 font-bold px-4">Apenas um lugar</h3>
                            <hr class="border-white my-3" data-aos="fade-right">
                            <h4 class="container-nb display-6">Para explorar a arte</h4>
                        </div>
                        <img src="assets/img/slider/image3.jpg">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

    <main class="bg-success mt-0 p-0 pb-5">
        <section id="join" class="bg-white m-0 py-5 align-items-center">
            <div class="container">
                <div class="section-title-nb mb-4" data-aos="fade-down" data-aos-duration="800">
                    <h2>Vamos lá?</h2>
                </div>
                <div class="d-flex flex-column flex-md-row gap-3 align-items-center justify-content-center mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <a class="btn-nb d-inline container-nb display-6 p-3" href="/registry">Criar conta</a>
                    <h3 class="d-inline font-bold">Ou</h3>
                    <a class="btn-nb d-inline container-nb display-6 p-3" href="/login">Fazer login</a>
                </div>
            </div>
        </section>
        <section id="introduction" class="border-top border-dark border-3">
            <div class="container p-3">
                <div class="section-title-nb" data-aos="fade-up" data-aos-duration="1000">
                    <h2>Isso é o que nós somos</h2>
                    <p>O Cosmus é um lugar acolhedor, livre, e pronto para receber a sua imaginação</p>
                </div>
                <div class="row justify-content-center gap-3 gap-md-0">
                    <div class="col-lg-4 col-sm-9" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="container-nb p-4 h-100">
                            <h4 class="text-center">Um lugar acolhedor</h4>
                            <p class="mb-0 text-center">Com uma administração que zela pelos usuários</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-9">
                        <div class="container-nb p-4 h-100" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                            <h4 class="text-center">Rápido e fácil</h4>
                            <p class="mb-0 text-center">Com poucos cliques, você publica sua arte, para todos verem</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-9">
                        <div class="container-nb p-4 h-100" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900">
                            <h4 class="text-center">Totalmente gratuito</h4>
                            <p class="mb-0 text-center">Sem precisar se preocupar com seu bolso</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-danger border border-dark border-3">
        <div class="container py-2">
            <div class="row">
                <div class="col-6 align-items-center d-flex py-3">
                    <p><i class="fa-solid fa-user"></i> Criado por Miniko</p>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div class="pt-3">
                        <h4>Siga nas nossas redes sociais:</h4>
                        <ul id="social-medias">
                            <li>
                                <p><i class="fa-brands fa-instagram"></i> @just_miniko</p>
                            </li>
                            <li class="">
                                <p><i class="fa-brands fa-twitter"></i> @just_miniko</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="assets/aos/aos.js"></script>
    <script src="assets/glightbox/js/glightbox.min.js"></script>
    <script src="assets/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/custom/script.js"></script>
    <script src="assets/font-awesome/js/fontawesome.js"></script>

</body>
</html>